// ESTILOS GERAIS
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    outline: 0;
    font-family: 'Sora', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: #06121e;
}

img {
    width: 100%;
}

button {
    cursor: pointer;
}

a {
    cursor: pointer;
    text-decoration: none;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 10px;
}

// ESTILOS PARA HEADER
header {
    width: 100%;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

header nav .header-logo img {
    width: 150px;
    border-radius: 50%;
}

header nav .header-icons {
    display: flex;
    gap: 14px;
}

header nav .header-icons i {
    color: #fff;
    font-size: 35px;
    transition: .5s ease;
}

header nav .header-icons i:hover {
    color: #be0000;
}

header nav button {
    padding: 8px 24px;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 5px;
    transition: 0.5s ease;
}

header nav button a {
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    transition: 0.5s ease;
}

header nav button:hover {
    background-color: #be0000;
    border: none;
}

// IMAGEM DE FUNDO
.img-home {
    position: relative;
}

.img-home::before {
    content: '';
    display: block;
    position: absolute;
    background-image: linear-gradient(to bottom, rgba(6, 18, 30, 0.1), #06121e), url("./images/img-fundo.png");
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-position: 50% 0;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.5;
}

// ESTILOS PARA MAIN
main.home {
    color: #fff;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 14px;
    text-align: center;

    h1 {
        line-height: 150%;
        max-width: 1020px;
        font-size: 2.5em;
        text-transform: uppercase;
    }

    p {
        margin: 20px 0;
    }
}

.home button {
    padding: 14px 28px;
    background-color: #be0000;
    border-radius: 5px;
    margin: 50px 0;
}

.home button a {
    color: #fff;
    font-size: 15px;
    font-weight: 600;
}

.home button:hover {
    animation: scaleButton 0.5s alternate infinite;
}

@keyframes scaleButton {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

// ESTILOS PARA SECTION SOBRE
.sobre {
    background-color: #06121e;
    overflow: hidden;
    color: #fff;
    margin-bottom: 50px;
    display: flex;
}

.sobre .container-sobre {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
}

.sobre .container-sobre img {
    max-width: 570px;
}

.sobre .text {
    padding: 0 50px;
}

.sobre .text h2 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 24px;
}

.sobre .text p {
    margin: 20px 0;
    text-align: justify;
    line-height: 150%;
}

.sobre .text .line {
    border-top: 2px solid #fff;
}

.sobre div {
    flex: 1;
}

// ESTILOS PARA SECTION SERVIÇOS
.servicos {
    background-color: #fff;
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px 15px;
}

.tipos-de-servicos h2 {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 15px;
}


.tipos-de-servicos p {
    text-align: center;
    line-height: 150%;
    margin-bottom: 25px;
    padding: 0 120px;
}

.servicos .cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 0 44px 34px 44px;
}

.servicos .cards .haircut {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px -1px 17px -4px rgba(0, 0, 0, 0.45);
    overflow: hidden;

    img {
        width: 100%;
        transition: .5s ease;
    }
}

.servicos .haircut img:hover {
    transform: scale(1.2);
    z-index: 1;
}

.servicos .cards .haircut-infos {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 15px;
    z-index: 99;
    background-color: #fff;
}

.servicos .cards .haircut-infos button {
    background-color: #be0000;
    padding: 4px 8px;
    border-radius: 5px;
    border: 0;
    cursor: default;
}

.servicos .cards .haircut-infos button a {
    color: #fff;
    cursor: default;
}

// ESTILOS DO FOOTER 
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 54px 0 10px 0;
}

.footer .footer-icons {
    display: flex;
    gap: 10px;
}

.footer .footer-icons i {
    color: #fff;
    font-size: 30px;
    transition: .5s ease;
}

.footer .footer-icons i:hover {
    color: #be0000;
}

.footer .footer-logo img {
    width: 150px;
    border-radius: 50%;
    margin: 30px 0;
}

.footer p {
    color: #ffffff87;
    font-size: 0.7em;
}

// ESTILOS BOTÃO DO WHATSAPP
.btn-wpp {
    position: fixed;
    bottom: 18px;
    right: 18px;
    z-index: 1000;
}

.btn-wpp img {
    max-width: 50px;
}

.btn-wpp img:hover {
    transform: scale(1.1);
    animation: scaleButton 0.5s alternate infinite;
}

.btn-wpp .tooltip-text {
    visibility: hidden;
    position: absolute;
    width: 120px;
    left: -140px;
    background-color: #000;
    color: #fff;
    padding: 5px;
    text-align: center;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.btn-wpp:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

@media screen and (max-width: 1024px) {
    // ESTILOS RESPONSIVOS PARA HEADER
    header nav {
        flex-direction: column;
        padding: 35px 0 0 0;
        gap: 15px;
    }

    header nav .header-logo img {
        width: 110px;
    }

    // ESTILOS RESPONSIVOS PARA MAIN
    main.home {
        padding: 10px;
        min-height: 60vh;
    }

    main.home h1 {
        font-size: 1.6em;
        margin: 20px 0;
    }

    main.home p {
        margin: 30px 0;
    }

    .home button {
        margin: 20px 0;
    }

    // ESTILOS RESPONSIVOS PARA SECTION SOBRE
    .sobre .container-sobre {
        flex-direction: column;
        padding: 14px;
    }

    .sobre .text {
        padding: 0 10px;
    }

    .sobre .text h2 {
        text-align: center;
        font-size: 1.5em;
        margin-bottom: 24px;
    }

    .servicos .cards {
        flex-direction: column;
    }

    .tipos-de-servicos p {
        padding: 0 10px;
    }

    .footer .footer-logo img {
        width: 100px;
    }
}